#backup
  %form(action="/backup" method="post")
    %input(class="button" type="submit" value="backup database")

%form(action="/update-row" method="post")
  #dashboard
    %table
      %th
        %input(type="reset" value="clear")
      %th
        %h2 Exercise
      %th
        %h2 Days Since
      %th
        %h2 Date
      
      - EXERCISES.each do |e|
        / if last exercised falls in hidden first day
        - if dash_data[e][0] == cal_data.last.first
          - days_since = "?"
          - date = "never"
        - else
          - days_since = dash_data[e][1]
          - date = pretty_date(date_to_datestamp(dash_data[e][0]))

        %tr
          %td 
            %input(type="checkbox" name="cb[#{e}]")
          %td= e.capitalize
          %td= days_since
          %td= date
  %br

  #calendar
    %table
      / hide day before FIRST_DATE
      - cal_data[0..-2].each do |e|
        - day = e[0]
        - items = e[1]
        %tr
          %td
            %h2= pretty_date(date_to_datestamp(day))
          %td
            %p= items
          %td
            %input(type="submit" name="cb[#{day}]" value="update")
          %td
            %input(type="submit" name="cb[#{day}]" value="clear row" class="clear_row" onclick='if(!confirm("are you sure?")){return false;}')

