%form(action="/muscle_tracker" method="post")
  #dashboard
    %table
      %th
        %input(type="reset" value="clear")
      %th
        %h2 Exercise
      %th
        %h2 Last Day Worked
      %th
        %h2 Days Since Worked
      
      - EXERCISES.each do |e|
        %tr
          %td 
            %input(type="checkbox" name="cb[#{e}]")
          %td= e.capitalize
          %td
          %td
  %br

  #calendar
    %table
      - events.each do |e|
        - day = e[0]
        - items = e[1]
        %tr
          %td
            %h2= pretty_date(date_to_datestamp(day))
          %td
            %p= items
          %td
            %input(type="submit" name="cb[#{day}]" value="update")
          %td
            %input(type="submit" name="cb[#{day}]" value="clear row" class="clear_row" onclick='if(!confirm("are you sure?")){return false;}')
